/*******************************************************************************
 * @author: Hsiaw-yih, KDr2
 * @version: 1.0
 * Licence: CC
 * About:
 *  Hsiaw-yih wrote this file for KDr2.
 *
 ******************************************************************************/
body {
    background: #fff;
    color: #111; /*#557575;*/
    font: 14px/1.7 sans-serif;
    /* font: 14px/1.7 "Open Sans", Helvetica, Arial, sans; */
    margin: 5% 15% 8%;
    min-width: 600px;
    background: none repeat scroll 0 0 #FFFFFF; /*#FDF6E3;*/
}

#org-div-home-and-up {
    float: right;
}

body .nav {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background: #303030;
    border-bottom: 1px solid #D2D2D2;
}

body .nav #site-name {
    margin: 0;
    padding: 0 20px;
    display: inline-block;
    line-height: 46px;
    font-weight: bold;
    color: white;
    background: #3D648A;
}

body .nav ul {
    list-style: none;
    min-width: 960px;
    margin: 0;
}
body .nav ul li {
    display: inline-block;
    margin: 0;
}
body .nav ul li a {
    line-height: 46px;
    display: inline-block;
    color: #FFFFFF;
    padding: 0 20px;
    border-radius: 0;
}
body .nav ul li a:hover {
    color: white;
    text-decoration: none;
    background: #3D648A;
}

body .nav ul .search {
    line-height: 46px;
    display: inline-block;
    padding: 0 20px;
    float: right;
}

body .nav ul .search input {
    border: 1px solid #3D648A;
}

body .nav ul .search .button {
    color: white;
    background: #3D648A;
}

.button_to_link {
    padding: 0;
    border: none;
    text-decoration: underline;
    cursor:pointer;
    background-color: #fff;
    color: #3D648A;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #3D648A;
    padding: 1em 0 15px;
    text-align: left;
    border-bottom: 1px solid #3D648A;
}

h2 {
    font-size: 1.5em;
    padding: 1em 0 10px;
    border-bottom: 1px solid #e5e5e5;
}

h3 {
    font-size: 1.2em;
    padding: 0.5em 0 10px;
    border-bottom: 1px solid #eee;
}
h1, h2, h3 {
    line-height: 1.4;
}

h2 span, h3 span, h4 span {
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #999;
    border: 1px solid #999;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

h3 span {
    font-weight: lighter;
    font-size: 16px;
}

h4 span {
    font-weight: lighter;
    font-size: 10px;
}

.center{
    text-align: center;
}

.todo, .deadline {
    color: red;
}

.todo, .done, .tag span {
    display: inline-block;
    padding: 0 5px 0 5px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.todo {
    background-color: #e14344;
}
.done {
    background-color: #009d6f;
}
h3 .todo, h3 .done {
    font-size: 0.75em;
}

.tag {
    float: right;
    border: 0;
    width: auto;
}

.tag span {
    padding: 0 5px;
    background-color: #ccc;
    color: #000;
    width: auto;
    height: auto;
}

.timestamp {
    padding-left: 2px;
    padding-right: 2px;
    color: #ccc;
    font-style: oblique;
    font-size: large;
}

.timestamp:before{
    font-style: normal;
    content: "\f133  ";
    /* content: "\23f0  "; */
}

.content {
    background-color: #fff;
}

h1.title {
    text-align: left;
}

.target {
    background-color: lavender;
}

.menu {
    color: #666;
}

.menu a:link {
    color: #888;
}
.menu a:active {
    color: #888;
}
.menu a:visited {
    color: #888;
}

a:link, a:visited {
    color: #3D648A;
}
a:active {
    color: #3D648A;
}

img { align: center; }

pre {
    background-color: rgb(57, 63, 73);
    border: #ddd solid 1px;
    border-radius: 10px;
    color: #fff;
    font: 14px/1.5 monospace;
    padding: 10px;
    overflow-x: auto;
}

table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    vertical-align: top;
    border: 1px solid #e2e2e2;
}

td {
    vertical-align: top;
    border: 1px solid #e2e2e2;
}

#postamble {
    font-size: 12px;
    color: #666;
    text-align: right;
    border-top: #ccc solid 1px;
    margin-top: 2em;
    padding-top: 1em;
}
#postamble p {
    margin: 0 1em;
}

#table-of-contents {
    font-size: 9pt;
    position: fixed;
    right: 0em;
    top: 46px;
    background: #303030;
    border: #ccc solid;
    border-width: 0 0 1px 1px;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;    
    overflow-y: auto;
    z-index: 200;
    white-space: nowrap;
}

#table-of-contents h2 {
    color: #FFFFFF;
    font-size: 10pt;    
    font-weight: bold;
    padding: 0.05em 0.5em 0.5em;
    border-bottom: none;
}

#table-of-contents ul {
    margin-left: 14pt;
    margin-bottom: 2pt;
    padding: 0
}

#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
}

#table-of-contents a {
    color: #FFFFFF;
}

#table-of-contents ul>:first-child {
    color: blue;
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em;
}
#table-of-contents .tag, #table-of-contents .todo, #table-of-contents .done {
    display: none;
}


code {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 1px 5px;
    border-radius: 3px;
    line-height: normal;
}

.underline {
    text-decoration: underline;
}

.footdef sup {
    float: left;
    vertical-align: baseline;
    font-size: inherit;
}

.footdef p {
    margin: 7px;
    display: inline;
}

blockquote {
    background: rgb(203, 219, 243);
    padding: 3px 13px;
    border: solid 2px;
    border-radius: 10px;
}
